[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
selenium = "==4.9.0"
webdriver-manager = "==4.0.1"

[dev-packages]

[requires]
python_version = "3.12"
