@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --color-primary: #374161;
    --color-accent: #3C486B;
    --color-red: #F45050;
    --color-yellow: #F9D949;
    --color-green: #69995D;
    --color-white: #F0F0F0;
    --color-black: #181a1b;
    --color-gray: #2a2d2e;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

button {
	@apply text-tq-white font-bold py-2 px-4 rounded-full transition duration-200 ease-in-out hover:shadow-lg hover:scale-105 active:scale-95 active:shadow-md
}

.circle-base {
	@apply font-bold p-5 aspect-square text-lg transition duration-200 ease-in-out hover:shadow-lg hover:scale-105 active:scale-95 active:shadow-md
}

.circle-mission-gradient {
  @apply circle-base bg-gradient-to-br from-orange-400 to-orange-800
}
.circle-mission-gradient-0 {
  @apply circle-base bg-gradient-to-br from-indigo-400 to-orange-950 hover:shadow-2xl hover:shadow-indigo-800
}
.circle-mission-gradient-1 {
  @apply circle-base bg-gradient-to-br from-green-400 to-purple-950 hover:shadow-2xl hover:shadow-green-800
}
.circle-mission-gradient-2 {
  @apply circle-base bg-gradient-to-br from-orange-300 to-indigo-600 hover:shadow-2xl hover:shadow-blue-800
}
.circle-mission-locked {
  @apply circle-base bg-gradient-to-tr from-gray-700 to-gray-600 cursor-not-allowed hover:scale-100 text-white
}

/* ------------ SCOREBOARD ------------ */

.scoreboard {
	@apply min-w-full leading-normal
}

.scoreboard tr {
	@apply grid grid-cols-3
}

.scoreboard thead th {
	@apply px-5 py-3 text-left text-xl font-semibold uppercase text-center tracking-wider
}

.scoreboard td {
	@apply px-5 py-2
}

/* ------------ SEARCH RESULTS ------------ */

.searchResults {
	@apply min-w-full leading-normal
}

.searchResults tr {
	@apply grid grid-cols-2
}

.searchResults thead th {
	@apply px-5 py-3 text-left text-xl font-semibold uppercase text-center tracking-wider
}

.searchResults td {
	@apply px-5 py-2
}

/* ------------ GENERAL ------------ */

body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* TODO: improve those styles */
pre code {
	white-space: pre-wrap;
}

.bug-selected {
	@apply border-2 bg-white text-tq-primary;
	display: inline;
	cursor: pointer;
}

.bug-selectable {
	@apply border-2;
	display: inline;
	cursor: pointer;
}

#timer {
	@apply border-2 mx-auto mt-2 p-2 bg-tq-primary;
	width: 5em;
	text-align: center;
	font-size: 2em;
	border-radius: 4px;
}

